UsernamePasswordLoginModule{
  io.mapsmessaging.security.jaas.IdentityLoginModule Required
                                                      debug=false
                                                      siteWide="system";
};

PublicAuthConfig {
 io.mapsmessaging.security.jaas.AnonymousLoginModule Required debug=true;
};