MessagingAuthConfig {
  com.sun.security.auth.module.LdapLoginModule Required
                                               userProvider="ldap://10.140.62.27:389"
                                               authIdentity="uid={USERNAME},OU=people,DC=buckton,DC=org"
                                               useSSL=false
                                               debug=false;
};


PrivateAuthConfig {
  com.sun.security.auth.module.LdapLoginModule Required
                                               userProvider="ldap://10.140.62.27:389"
                                               authIdentity="uid={USERNAME},OU=people,DC=buckton,DC=org"
                                               useSSL=false
                                               debug=false;
};

PublicAuthConfig {
  io.mapsmessaging.security.jaas.AnonymousLoginModule Required
                                                             debug=true;
};

SSLAuthConfig{
   io.mapsmessaging.security.jaas.SSLCertificateLoginModule Required
                                                                  debug=false;
};

JWTAuthConfig{
  io.mapsmessaging.security.jaas.Auth0JwtLoginModule Required
                                             debug=true
                                             auth0Domain=dev-krmpy6-z.au.auth0.com;

};

JaasKrb {
  com.sun.security.auth.module.Krb5LoginModule required
                                              debug=true;
};
