UsernamePasswordLoginModule{
  io.mapsmessaging.security.jaas.IdentityLoginModule Required
                                                      debug=false
                                                      identityName="Apache-Basic-Auth"
                                                      configDirectory="./.security";
};

PublicAuthConfig {
 io.mapsmessaging.security.jaas.AnonymousLoginModule Required debug=true;
};