<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <shutdownHook/>

  <!-- Main application log (DENY Audit) -->
  <appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${MAPS_DATA}/log/messaging.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>messaging.log-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss}, [%X{division}-%X{category}], [%t] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="AsyncLogFile" class="ch.qos.logback.classic.AsyncAppender">
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
        <Marker>Audit</Marker>
      </evaluator>
      <OnMatch>DENY</OnMatch>
      <OnMismatch>NEUTRAL</OnMismatch>
    </filter>
    <appender-ref ref="LogFile"/>
  </appender>

  <!-- Audit-only log (ACCEPT only Audit) -->
  <appender name="AuditFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${MAPS_DATA}/log/audit.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>audit.log-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder>
      <!-- prints 'Audit' for audited events; blank otherwise -->
      <pattern>%d{yyyy-MM-dd HH:mm:ss}, [%X{division}-%X{category}], [%t] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="AsyncAuditFile" class="ch.qos.logback.classic.AsyncAppender">
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
        <Marker>Audit</Marker>
      </evaluator>
      <OnMatch>ACCEPT</OnMatch>
      <OnMismatch>DENY</OnMismatch>
    </filter>
    <appender-ref ref="AuditFile"/>
  </appender>

  <root level="warn">
    <appender-ref ref="AsyncLogFile"/>
    <appender-ref ref="AsyncAuditFile"/>
  </root>
</configuration>
