UsernamePasswordLoginModule{
  io.mapsmessaging.security.jaas.IdentityLoginModule Required
                                                      debug=false
                                                      siteWide="system";
};

UsernamePasswordAuthConfig {
 io.mapsmessaging.security.jaas.IdentityLoginModule Required debug=true;
};