Package: %%PACKAGE_NAME%%
Version: %%PACKAGE_VERSION%%
Section: java
Priority: optional
Architecture: all
Depends: zulu21-jdk-headless | zulu21-jre-headless | openjdk-21-jdk-headless | openjdk-21-jre-headless
Recommends: pigpiod
Maintainer: Maps Messaging B.V. <info@mapsmessaging.io>
Description: A multi adapter and protocol server
 A multi adapter and protocol server for handling messaging protocols.

