Package: %%PACKAGE_NAME%%
Version: %%PACKAGE_VERSION%%
Section: java
Priority: optional
Architecture: all
Depends: openjdk-21-jre
Maintainer: Maps Messaging B.V. <info@mapsmessaging.io>
Description: A multi adapter and protocol server
 A multi adapter and protocol server for handling messaging protocols.

