TestAuthConfig {
  io.mapsmessaging.engine.security.TestLoginModule Required;
};

PublicAuthConfig {
  io.mapsmessaging.engine.security.AnonymousLoginModule Required debug=true;
};

SSLAuthConfig{
  io.mapsmessaging.engine.security.SSLCertificateLoginModule Required debug=true;
};

JWTAuthConfig{
  io.mapsmessaging.engine.security.jwt.AwsJwtLoginModule Required
                                             region="ap-southeast-2"
                                             poolId="ap-southeast-2_NTMYGms7r"
                                             clientId="4bnk1hp18ijd1177e03mvnic41"
                                             debug=true;
};