TestAuthConfig {
  io.mapsmessaging.engine.security.TestLoginModule Required;
};

PublicAuthConfig {
 io.mapsmessaging.security.jaas.AnonymousLoginModule Required debug=true;
};

SSLAuthConfig{
  io.mapsmessaging.security.jaas.SSLCertificateLoginModule Required debug=true;
};

JWTAuthConfig{
  io.mapsmessaging.security.jaas.AwsJwtLoginModule Required
                                             region="ap-southeast-2"
                                             poolId="ap-southeast-2_NTMYGms7r"
                                             clientId="4bnk1hp18ijd1177e03mvnic41"
                                             debug=true;
};

PrivateAuthConfig {
  com.sun.security.auth.module.LdapLoginModule Required
                                               userProvider="ldap://10.140.62.27:389"
                                               authIdentity="uid={USERNAME},OU=people,DC=buckton,DC=org"
                                               useSSL=false
                                               debug=false;
};
